<nav>
  <div id="Logo">
    <h1>STOCK MARKET</h1>
    <h2>search</h2>
  </div>
  <a href="/">[home]</a>
  <a href="/mongo" class="navCent">
    <img src="https://img.icons8.com/color/452/mongodb.png" width="20px" />
    [MONGO SEARCH]
  </a>
  <a href="/postgres" class="navCent">
    <img
      src="https://cdn.iconscout.com/icon/free/png-256/postgresql-226047.png"
      width="20px"
    />
    [POSTGRESQL SEARCH]
  </a>
  <a href="/both">[BOTH]</a>
</nav>
