<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <nav>
      <div id="Logo">
        <h1>STOCK MARKET</h1>
        <h2>search</h2>
      </div>
      <a href="/">[HOME]</a>
      <a href="/login">[LOGIN]</a>
      <a href="/register">[REGISTER]</a>
    </nav>
    <main>
      <div class="lostContent">
        <h1>Oops! There was an error!</h1>
      </div>
      <img
        src="https://memegenerator.net/img/instances/46534276/this-is-a-404-error.jpg"
        width="30%"
      />
    </main>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
